<div class="sign-in-container">
  <div class="sign-in-page-title">
    <div class="logo">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/dx1lykanb/image/upload/c_scale,w_100/v1445554455/gulfstream_650/departing_flight.png" />
      </div>
      <div class="logo-text">
        <h1 class="title">Takeoff</h1>
      </div>
    </div>
  </div>

  <br>
  <div class="log-in-page modal-content">
  <h3 class="sign-up-in-form">Sign In</h3>

    <form class="sign-up-in-form" action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <label>
        Username
        <input type="text" name="user[username]" value="">
      </label>

      <label>
        Password
        <input type="password" name="user[password]" value="">
      </label>

      <input type="submit" value="Sign In">
      <br>
      <br>
    </form>
      <form class="sign-up-in-form" action="<%= session_url %>" method="post">
    <p >Not a Member?
      <%= link_to "Sign up here!", new_user_url %>
      Or sign in as a guest:
        <%= auth_token_input %>
        <input type="hidden" name="user[username]" value="andrew">
        <input type="hidden" name="user[password]" value="andrew">
        <input type="submit" value="Guest Sign In"/>
      </form>
    </p>
  </div>
</div>
